<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>WINTRADERS</title>
</head>
<body>
      
<nav class="navbar navbar-light bg-primary">
    <a href="/" class="navbar-brand">
            WINTRADERS DO DIAMOND
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"> 
                <a style="font-size: 20px;" class="nav-link" href="/login"> <%=nome%> </a>             
        </li>
    </ul>
</nav>
    <br><br>
    <div class="container">
        <div class="card">
            <h1 class="display-4" style="text-align: center;">Lista dos doentes</h1>
            <div class="card-body">
                <table class="table table-bordered">
                    <%if(nome != 'Login'){%>
                    <thead>
                        <tr>
                            <th>Autor</th>
                            <th>Criminoso</th>
                            <th>Descrição do Crime</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <% dados.forEach(dado =>{ %>
                                <tr>
                                    <td><%=dado.autor%></td>
                                    <td><%=dado.nome%></td>
                                    <td>
                                        <%=dado.descricao%>
                                    </td>
                                    <td>
                                        <a href="/criminoso/edit/<%=dado.id%>" class="btn btn-warning">Editar</a>
                                        <form onclick="confirmarDel(event, this)" action="/criminoso/del/<%=dado.id%>" method="POST" style="display: inline;">
                                            <button class="btn btn-danger" style="position: relative; left: 20px;">Deletar</button>
                                        </form>
                                        
                                    </td>
                                </tr>
                            <%})%>
                        <%}else{%>
                            <thead>
                                <tr>
                                    <th>Autor</th>
                                    <th>Criminoso</th>
                                    <th>Descrição do Crime</th>
                                </tr>
                            </thead>
                           <%dados.forEach(dado =>{%>
                                <tr>
                                    <td><%=dado.autor%></td>
                                    <td><%=dado.nome%></td>
                                    <td>
                                        <%=dado.descricao%>
                                    </td>
                                </tr>
                           <%})%>
                        <%}%>



                    </tbody>
                </table>
                <br>
                <a href="/cadastrar" class="btn btn-success">Cadastrar novo meliante</a>
            </div>
        </div>
        
    </div>
</body>
<script>
    function confirmarDel(event, form){  // Recebe um evento, no caso o onsubmit
        event.preventDefault() // Isso  faz com que o formulario n seja enviado
        let decision = confirm('Você deseja deletar esse criminoso ?')
        if (decision){
            form.submit()
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</html>